<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

</head>
<body>
    <h3>Demo-Flask-SocketIO</h3>
    <p id='test'> Hello </p>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '';

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('message', function(msg){
                console.log(msg.time)
                $('#test').html('<p>' + msg.time + '</p>');
            });

        });
    </script>
</body>
</html>