<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
        <style>
            body { margin:10; padding:10; }
            #map { width:1200px; height:800px; top:0; bottom:0; }
        </style>
        </head>
    <body>
        <div>
            <form action="" method="post">
                <input type="text" class="satname" placeholder="Satellite name">
                <input type="submit" name="start" value="Start survey">
                <input type="submit" name="stop" value="Stop survey">
            </form>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

            <div id='map'>

            </div>
            <div class="table">
                <script type="text/javascript">
                      var socket = io.connect('http://' + document.domain + ':' + location.port);
                      socket.on( 'connect', function() {
                        socket.emit( 'message', {
                          data: 'User Connected'
                        } )
                        var form = $( 'form' ).on( 'submit', function( e ) {
                          e.preventDefault()
                          let sat_name = $( 'input.satname' ).val()
                          socket.emit( 'my event', {
                            satellite_name : sat_name,
                          } )
                          $( 'input.message' ).val( '' ).focus()
                        } )
                      } )
                      socket.on( 'my response', function( msg ) {
                        console.log( msg )
                        if( typeof msg.Name !== 'undefined' )
                        {
                          $( 'div.table' ).append( '<div>'+msg.Latitude+'</div>' )
                          $( 'div.table' ).append( '<div>'+msg.Longitude+'</div>' )
                        }
                      })
                </script>
            </div>



        </div>


    </body>
    <script src='../static/leafletmap.js'></script>
    <!--<script src='../static/onclick.js'></script>-->
</html>