<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
        <style>
            body { margin:10; padding:10; }
            #map { width:1200px; height:800px; top:0; bottom:0; }
        </style>
        </head>
    <body>
        <div>
            <form action="http://127.0.0.1:5000/mymap" method="post">
                <input type="submit" name="start" value="Start survey">
                <input type="submit" name="stop" value="Stop survey">
            </form>

            <div id='map'>

            </div>
            <div>
                <table>

                </table>
            </div>

        </div>


    </body>
    <script src='../static/leafletmap.js'></script>
</html>